@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.manu {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}


body {
    background: linear-gradient(to bottom right, #161a1fc4 0%, #242a41 50%, #464646 100%);
    font-family: "Montserrat", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    color: #fff;
}